<div class="ep_password_change-modal" id="ep_password_change-modal">
    <div class="ep_password_change-modal-content">
        <span class="ep_password_change-modal-close" id="ep_password_change-modal-close">&times;</span>
        <div class="left" data-l10n-id="ep_password_change.current_password_prompt"></div>
        <div class="right">
        <input type="password" id="ep_password_change-current-password" maxlength="100" autofocus x-webkit-speech>
        </div>
        <div class="left" data-l10n-id="ep_password_change.password_prompt"></div>
        <div class="right">
        <input type="password" id="ep_password_change-password" maxlength="100" autofocus x-webkit-speech>
        </div>
        <div class="left" data-l10n-id="ep_password_change.repeat_prompt"></div>
        <div class="right">
        <input type="password" id="ep_password_change-repeat" maxlength="100" autofocus x-webkit-speech>
        </div>
        <div id="ep_password_change-match"></div>
        <button onclick="submitForm()" data-l10n-id="ep_password_change.submit"></button>
    </div>
</div>
    <script>
    function addEnterListener(input) {
        input.addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {
                submitForm();
            }
        });
    }
    ['current-password', 'password', 'repeat'].forEach(function(i) {
        addEnterListener(document.getElementById('ep_password_change-' + i));
    })
    function addMatchChecker(input) {
        input.addEventListener('keyup', function(event) {
            var password = document.getElementById('ep_password_change-password').value;
            var repeat = document.getElementById('ep_password_change-repeat').value;
            var match = document.getElementById('ep_password_change-match');
            if (password !== repeat) {
                match.textContent = window._('ep_password_change.nomatch');
            } else {
                match.textContent = '';
            }
        });
    }
    ['password', 'repeat'].forEach(function(i) {
        addMatchChecker(document.getElementById('ep_password_change-' + i));
    })
    function showForm() {
        document.getElementById('ep_password_change-modal').style.display = 'block';
    }
    function hideForm() {
        document.getElementById('ep_password_change-modal').style.display = 'none';
    }
    function clearForm() {
        document.getElementById("ep_password_change-current-password").value = "";
        document.getElementById("ep_password_change-password").value = "";
        document.getElementById("ep_password_change-repeat").value = "";
    }
    function submitForm() {
        var current = document.getElementById("ep_password_change-current-password").value;
        var password = document.getElementById("ep_password_change-password").value;
        var repeat = document.getElementById("ep_password_change-repeat").value;
        if (password !== "" && repeat !== "") {
            if (password === repeat) {
                $.ajax({
                    type: "GET", // ?!?
                    url: "/password_change",
                    data: "password=" + btoa(password) + "&current=" + btoa(current),
                    cache: false,
                    statusCode: {
                        204: function() {
                            alert(window._('ep_password_change.success'));
                            hideForm();
                            clearForm();
                        },
                        400: function() {
                            alert(window._('ep_password_change.bad_request'));
                        },
                        401: function() {
                            alert(window._('ep_password_change.wrong_password'));
                        },
                        422: function() {
                            alert(window._('ep_password_change.settings_error'));
                        },
                        500: function() {
                            alert(window._('ep_password_change.error'));
                        },
                        501: function() {
                            alert(window._('ep_password_change.writable_error'));
                        }
                    }
                });
            } else {
                alert(window._('ep_password_change.nomatch'));
            }
        }
        return false;
    }
    </script>

